<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HLP -->
      <package
            uri="http://uio.no/ifi/hlp/1.0"
            class="no.uio.ifi.hlp.HLPPackage"
            genModel="model/HLP.genmodel"/>
   </extension>

</plugin>
