<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.emftext.access.syntax">
		<metaInformationProvider class="no.uio.ifi.hlp.resource.hlp.mopp.HlpMetaInformation" id="no.uio.ifi.hlp.resource.hlp.mopp.HlpMetaInformation">
		</metaInformationProvider>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<super type="org.eclipse.core.resources.textmarker">
		</super>
		<super type="org.eclipse.emf.ecore.diagnostic">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.syntax_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.print_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.unresolved_reference" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.analysis_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.batch_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.live_constraint_problem" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.problem.builder_error" name="EMFText Problem" point="org.eclipse.core.resources.markers">
		<persistent value="true">
		</persistent>
		<super type="no.uio.ifi.hlp.resource.hlp.problem">
		</super>
	</extension>
	
	<extension id="no.uio.ifi.hlp.resource.hlp.nature" name="hlp nature" point="org.eclipse.core.resources.natures">
		<runtime>
			<run class="no.uio.ifi.hlp.resource.hlp.mopp.HlpNature">
			</run>
		</runtime>
		<builder id="no.uio.ifi.hlp.resource.hlp.builder">
		</builder>
	</extension>
	
	<extension point="org.eclipse.core.resources.builders" id="no.uio.ifi.hlp.resource.hlp.builder" name="hlp Builder">
		<builder hasNature="true">
			<run class="no.uio.ifi.hlp.resource.hlp.mopp.HlpBuilderAdapter">
			</run>
		</builder>
	</extension>
	
	<extension-point id="no.uio.ifi.hlp.resource.hlp.default_load_options" name="Default Load Options" schema="schema/default_load_options.exsd">
	</extension-point>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
		<parser class="no.uio.ifi.hlp.resource.hlp.mopp.HlpResourceFactoryDelegator" type="hlp">
		</parser>
	</extension>
	
	<extension-point id="no.uio.ifi.hlp.resource.hlp.additional_extension_parser" name="Additional Extension Parser" schema="schema/additional_extension_parser.exsd">
	</extension-point>
	
</plugin>
