<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated LLP -->
      <package
            uri="http://uio.no/ifi/llp/1.0"
            class="no.uio.ifi.llp.LLPPackage"
            genModel="model/LLP.genmodel"/>
   </extension>

</plugin>
