<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ResourceModel -->
      <package
            uri="http://uio.no/ifi/rm/1.0"
            class="no.uio.ifi.rm.RMPackage"
            genModel="model/ResourceModel.genmodel"/>
   </extension>
</plugin>
